@import './variable' ;

.musicBlock{
   @include grassColor;
   position: fixed;
   height: 600px;
   width: 360px;
   border-radius: 8px;
   transition: all 0.5s;
   overflow: auto;
   top: 5%;
   right: -10%;
   opacity: 0;
   visibility: hidden;
   z-index: 10;

   @include mobile{
      transform: scale(0.3);
      top: -10%;
      right: -20%;
   }
}
.musicBlock::-webkit-scrollbar{
   display: none;
}

.musicBlock.musicOpen{
   top: 15%;
   right: 2%;
   visibility:visible;
   opacity: 1;

   @include mobile{
      right:50%;
      top: 16%;
      transform: translateX(50%) scale(1.1);
   }
   .player{
      .songTitle{
         top: 15%;
      }
   }
}
.player{
   @include grassColor;
   border-radius: 8px;
   position: relative;
   width: 360px;
   .dashboard{
      @include flexCenter;
      flex-direction: column;

      .songTitle{
         color: #fff;
         width: 360px;
         text-align: center;
         top: 2%;
         margin: 14px 0 0;
         h2{
            font-size: 24px;
            font-weight: 600;
         }

      }
      .cd{
         display: flex;
         margin: 16px 0 16px 0 ;
         .cd-thumb{
            width: 200px;height: 200px;
            border-radius: 50%;
            background-size: cover;
         }
      }
      .control{
         @include flexCenter;
         color: #fff;
         gap: 16px;
         ion-icon{
            @include grassColor;
            padding: 4px;
            border-radius: 50%;
            font-size:28px;
         }
         .btn{
            width: 38px;
            height: 38px;
            border-radius: 50%;
            cursor: pointer;
         }
         .btn:nth-child(3){
            width: 40px;
            height: 40px;
            ion-icon{
               font-size: 40px;
            }
         }

         .btn-toggle-play{
            ion-icon[name='pause-outline']{
               display: none;
            }
         }

         .btn-toggle-play.musicPlaying{
            ion-icon[name='pause-outline']{
               display: block;
            }
            ion-icon[name='play-outline']{
               display: none;
            }
         }
         .btn-repeat.active,
         .btn-random.active{
            ion-icon{
               box-shadow: 0 0 5px rgb(7, 71, 248);
               background: rgba(7, 71, 248, 0.248);
            }
         }

      }
      .progress{
         margin: 18px 0;
         width: 90%;
         height: 6px;
         background: #d3d3d3;
         outline: none;
         opacity: 0.7;
         -webkit-appearance: none;
         -webkit-transition: 0.2s;
         transition: opacity 0.2s;
      }
      .progress::-webkit-slider-thumb {
         -webkit-appearance: none;
         appearance:inherit;
         width: 12px;
         height: 6px;
         background-color: red;
         cursor: pointer;
      }
      .progress::-webkit-progress-value {
         background-color:#0095dd;
      }

   }

   .playlist{
      @include grassColor;
      margin-top: 18px;
      min-height: 300px;
      padding: 32px 4px 16px 22px;
      border-radius: 58px 0 0 0;
      overflow: hidden;
      cursor: pointer;
      .song{
         @include grassColor;
         display: flex;
         width: 100%;
         margin: 8px 0;
         padding: 4px;
         border-radius: 16px 0 16px 8px ;

         .thumb{
            width: 46px;height: 46px;
            background-size: cover;
            border-radius: 50%;
         }
         .body{
            flex: 1;
            margin-left: 10px;
            color: #fff;
            .title{
               font-size: 18px;
               font-weight: 400;
            }
            .author{
               font-size: 14px;
               font-weight: 300;
            }
         }
         .option{
            padding-top: 12px;
            ion-icon{
               color: #fff;
               font-size: 24px;
            }
         }
      }
      .song.active{
         background: linear-gradient(to right ,rgba(235, 109, 109, 0.5), rgba(48, 155, 48, 0.5), rgba(18, 88, 218, 0.5),rgba(213, 247, 90, 0.5));
      }
   }

}



