@import "variable";

.pomodoro {
   @include grassColor;
   @include mobile{
      width: 500px;
      height: 450px;
   }

   z-index: 10;
   border-radius: 8px;
   position: absolute;
   transition: all 1s;
   top: 50%;
   left: 50%;
   overflow: hidden;
   transform: translate(-50%, -50%);
   width: 700px;
   height: 450px;

   .title {
      text-align: center;
      font-size: 32px;

      h1 {
         color: #fff;
         font-weight: 400;
         text-shadow: 0 0 15px rgb(17, 21, 247);
      }
   }
   #clock-container {
      padding-top: 32px;
      height: 45%;
      overflow: hidden
   }
   #pomodoroTask {
      @include flexCenter;
      color: #fff;
      font-size: 24px;
      margin-bottom: 12px;

      p {
         padding-right: 8px;
      }
      span {
         padding: 0 4px;
         font-size: 28px;
         text-shadow: 0 0 8px rgb(255, 197, 8);
      }
   }

   #buttons {
      @include flexCenter;
      width: 100%;

      .btn {
         @include grassColor;
         position: absolute;
         transition: 0.5s;
         bottom: 5%;
         border-radius: 8px;
         color: #fff;
         font-size: 32px;
         text-shadow: 0 0 5px rgb(7, 177, 245);
         width: 250px;
         display: none;
         padding: 4px;
         cursor: pointer;

      }

      .btn.display {
         display: block;
      }
      .btnContinue {
         animation: goRight 0.7s;
         transform: translateX(-150px);
      }
      .btnExit {
         animation: goLeft 0.7s;
         transform: translateX(150px);
      }
      @keyframes goRight {
         0% {
            transform: translateX(-50px);
         }
         100% {
            transform: translateX(-150px);
         }
      }
      @keyframes goLeft {
         0% {
            transform: translateX(50px);
         }
         100% {
            transform: translateX(150px);
         }
      }
   }

   .flip-clock-wrapper {
      margin: 24px auto 0;
      display: flex;
      justify-content: center;
      align-content: center;
      transform: scale(1.5);
      width: 100%;


      .flip-clock-label {
         color: #fff;
         font-size: 14px;
         margin: auto;
         right: -100px;
      }
      .flip {
         transform-style: preserve-3d;
         perspective: 1000px;
      }
   }
}
.pomodoro.pomodoroClose {
   opacity: 0;
   visibility: hidden;
   top: 70%;
   @include mobile{
      transform: translateY(-50%) translateX(-30%) scale(0.1) ;
   }
}
