@import "./variable";

header {
   @include flexCenter;
@include mobile{
   width: 400px;
}
   width: 100%;
   height: 100px;
   top: 2%;
   position: absolute;
   z-index: 10;

   .wapper {
      @include flexCenter;
      @include grassColor;
      @include mobile{
         width: 550px;
      }
      border-radius: 8px;
      gap: 20%;
      height: 60px;
      width: 690px;
      .logo {
         align-self: center;
         a {
            font-size: $h1-font-size;
            color: #fff;
            font-weight: 700;
            font-family: "Fuzzy Bubbles", cursive;
            text-shadow: 0 0 8px rgb(0, 0, 255);
         }
      }
      .navbar {
         @include flexCenter;
         ul {
            @include flexCenter;
            li {
               margin: 4px 12px;
               background: rgba(150, 131, 131, 0.274);
               padding: 8px;
               color: #fff;
               border-radius: 8px;
               cursor: pointer;

               span {
                  @include mobile{
                     display: none;
                  }
               }
               ion-icon {
                  font-size: $h3-font-size;
                  padding-bottom: 0px;
               }
               &:hover{
                  background: linear-gradient(to right, rgba(64, 189, 15, 0.548), rgba(39, 79, 255, 0.438));
               }
            }
         }
         img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
         }
      }
   }
}

#banner {
   @include flexCenter;
   width: 100%;
   height: 100vh;
   overflow: hidden;
   
   .img,
   video {
      filter: contrast(110%) brightness(70%);
      top: 0;
      left: 0;
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
   p {
      display: none;
   }
}
}

.backgroundSetting {
   @include grassColor;
   position: absolute;
   width: 60%;
   height: 540px;
   @include mobile {
      width: 80%;
   }

   top: 20%;
   display: none;
   z-index: 10;
   border-radius: 8px;
   transition: all 1s ease-in-out;
   padding: 26px 0 0 26px;
   h1 {
      font-size: $h1-font-size;
      font-weight: 600;
      color: #fff;
      width: 100%;
      border-bottom: 2px solid #999;
   }
   .themeBlock {
      overflow: auto;
      max-height: 85%;
   }
   .themeBlock::-webkit-scrollbar {
      display: none;
   }
   .theme,
   .video {
      margin-top: 12px;
      h2 {
         font-size: $h3-font-size;
         font-weight: 600;
         color: #fff;
      }
      .videoList,
      .themeList {
         @include flexCenter;
         justify-content: start;
         flex-wrap: wrap;
         gap: 30px;

         .themeItem {
            cursor: pointer;
            .img,
            video {
               width: 150px;
               height: 100px;
               border-radius: 8px;
               background-size: contain;
            }
            p {
               color: #fff;
            }
         }
      }
   }
}
.backgroundSetting::-webkit-scrollbar {
   display: none;
}

.bgSettingOpen.backgroundSetting {
   display: block;
}
.backgroundSetting.bgSettingOpen::after {
   display: block;
}

#setting {
   @include grassColor;
   position: absolute;
   transition: all 0.5s linear;
   
   top: 15%;
   right: 2%;
   display: none;

   padding: 8px;
   border-radius: 8px;
   color: #fff;
   width: 360px;
   height: 570px;
   .heading {
      text-align: center;
      border-bottom: 1px solid #999;
      h1 {
         font-size: 32px;
         font-weight: 600;
         text-shadow: 0 0 3px rgb(4, 153, 252);
      }
   }
   .body {
      overflow: auto;
      margin-top: 16px;
      .timeSetting {
         @include flexCenter;
         flex-wrap: wrap;
         padding-bottom: 16px;
         border-radius: 8px;
         .study,
         .break,
         .longBreak {
            width: 100px;
            @include flexCenter;
            flex-direction: column;
            input {
               width: 80px;
               height: 40px;
               border-radius: 8px;
               outline: none;
               font-size: 18px;
               border: none;
               padding-left: 24px;
               background-color: rgba(230, 230, 230, 0.897);
            }
         }

      }
      .switchBlock {
         padding-bottom: 16px;
         border-radius: 8px;
         border-bottom: 1px solid #999;
         h2 {
            font-size: 18px;
            font-weight: 400;
         }
         .autoBreak,
         .autoStudy {
            display: flex;
            justify-content: space-between;
            margin: 24px 0;
            $heightButton: 30px;
            $widthButton: 70px;
            label {
               position: relative;
               width: $widthButton;
               height: $heightButton;
               cursor: pointer;
               input {
                  position: absolute;
                  appearance: none;
               }
               input:checked ~ span {
                  @include grassColor;
                  background: rgba(0, 255, 0, 0.5);
                  border: 2px solid #fff;
               }
               input:checked ~ span i {
                  left: 58%;
               }
               input:checked ~ span i::before {
                  background: green;
                  box-shadow: 11px 0 0 green;
               }
               input:checked ~ span i::after {
                  background: green;
                  border-radius: 0;
                  height: 26%;
                  border-bottom-left-radius: 49px;
                  border-bottom-right-radius: 49px;
               }

               span {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  @include grassColor;
                  border: 2px solid #fff;
                  background: rgba(255, 0, 0, 0.2);
                  border-radius: 80px;
                  transition: all 0.5s ease-in-out ;

                  i {
                     position: absolute;
                     top: 9%;
                     left: 3%;

                     width: 37%;
                     height: 83%;
                     background: #fff;
                     border-radius: 50%;
                     transition: all 0.5s ease-in-out ;
                  }
                  i::before {
                     content: "";
                     position: absolute;
                     top: 25%;
                     left: 20%;
                     width: 17%;
                     height: 17%;
                     border-radius: 50%;
                     background: rgb(255, 0, 0);
                     box-shadow: 11px 0 0 red;
                     transition: all 0.5s ease-in-out ;
                  }
                  i::after {
                     content: "";
                     position: absolute;
                     bottom: 15%;
                     left: 50%;
                     transform: translateX(-50%);
                     width: 40%;
                     height: 7%;
                     border-radius: 8px;
                     transition: all 0.5s ease-in-out ;
                     background: red;
                  }
               }
            }
         }

         .interval{
            display: flex;justify-content:space-between;
            input{
               width: 70px;
               height: 30px;
               border-radius: 16px;
               outline: none;
               font-size: 18px;
               border: none;
               padding-left: 16px;
            }
         }
      }
      .apply {
         margin-top: 16px;
         width: 100px;
         text-shadow: 0 0 5px rgb(25, 0, 255);
         font-size: 18px;
         float: right;
      }
   }
}
#setting.settingOpen{
   display: block 
}

footer {
   @include grassColor;
   @include flexCenter;
   position: absolute;
   transition: all .5s linear;
   background: rgba(4, 190, 247, 0.1);
   bottom: 2%;
   min-width: 360px;
   height: 60px;
   border-radius: 24px;
   z-index: 10;

   ul {
      @include flexCenter;
      gap: 30%;

      .feature {
         @include grassColor;
         @include flexCenter;
         padding: 8px;
         border-radius: 8px;
         position: relative;
         transition: all 0.2s linear;

         ion-icon {
            font-size: 32px;
            color: #fff;
            cursor: pointer;
            transition: 0.3s;
            padding-bottom: 0;
         }
         &:nth-child(1):hover{
            background: linear-gradient(rgba(67, 164, 255, 0.5), rgba(42, 6, 245, 0.5));
            transform: scale(1.1);
         }
         &:nth-child(2):hover{
            background: linear-gradient(rgba(34, 248, 45, 0.5), rgba(6, 245, 245, 0.5));
            transform: scale(1.1);
         }
         &:nth-child(3):hover{
            background: linear-gradient(rgba(255, 67, 67, 0.5), rgba(245, 241, 6, 0.5));
            transform: scale(1.1);
         }
      }
   }
}

