@import "./variable";

.todo {
   @include grassColor;
   @include mobile {
      top: -10%;
      left: -20%;
      transform: scale(0.3);
   }
   position: absolute;
   top: 5%;
   left: -10%;
   opacity: 0;
   visibility: hidden;
   z-index: 5;

   width: 360px;
   height: 600px;
   border-radius: 8px 0px 0px 8px;
   transition: 0.5s;

   #inputForm {
      width: 100%;
      text-align: center;
      background: linear-gradient( rgba(26, 147, 247, 0.4), rgba(255, 255, 255, 0.3));
      height: 60px;
      transition: all 0.5s linear;
      overflow: hidden;
      .todoInput {
         margin-top: 8px;
         border-radius: 8px;
         width: 90%;
         height: 40px;
         border: none;
         outline: none;
         padding-left: 16px;
         font-size: $text-font-size;
      }
      .todoExpand{
         @include flexCenter;
         margin-top: 12px;
         width: 100%;
         gap: 8px;
         .selectInput,
         .deadlineInput,
         .counterInput{
            border-radius: 8px;
            width: 88px;
            height: 40px;
            border: none;
            outline: none;
            padding-left: 6px;
            font-size: $text-font-size;
         }
         .deadlineInput{
            width: 130px;
            padding: 0px 0 0 8px;
         }
      }
      .optionBtn{
         padding: 38px 0 18px 0;
         @include flexCenter;
         justify-content: space-evenly;
         .saveTodo,.cancelTodo{
            width: 40%;
         }
      }

   }
   #inputForm.active{
      height: 200px;
   }
   .tastList::-webkit-scrollbar {
      display: none;
   }
   .tastList {
      transition: all 0.5s linear;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-height: 500px;
      overflow: auto;

      .listItem {
         @include flexCenter;
         @include grassColor;
         position: relative;
         border-radius: 8px;
         width: 90%;
         min-height: 58px;
         padding: 4px;
         margin-top: 8px;
         box-shadow: 1px 2px #444 3px;
         transform-style: preserve-3d;

         .listItem_finish {
            flex: 1;
            cursor: pointer;
            ion-icon {
               font-size: $h2-font-size;
               color: #fff;
            }
         }
         .listItem_detail {
            flex: 8;
            display: flex;
            justify-content: start;
            flex-direction: column;
            color: #fff;
            h1,s {
               font-size: $text-font-size;
               font-weight: 400;
               padding-bottom: 4px;
            }
            .listItem_detail-mini {
               font-size: $text-mini;
               display: flex;

               .prioritize {
                  padding: 2px 9px;
                  border-radius: 16px;
                  color: #fff;
               }
               span {
                  margin-right: 28px;
                  color: rgba(0, 255, 34, 0.425);
               }
               .prioritize.flag1 {
                  background: rgba(255, 0, 0, 0.5);
               }
               .prioritize.flag2 {
                  background: rgba(245, 149, 5, 0.5);
               }
               .prioritize.flag3 {
                  background: rgba(179, 204, 66, 0.5);
               }
               .prioritize.flag4 {
                  background: rgba(118, 119, 117, 0.5)
               }
            }
         }
         .listItem_trash {
            cursor: pointer;
            flex: 1;
            ion-icon {
               font-size: $h1-font-size;
               color: #fff;
            }
         }
      }
      
   }
   .tastList.active{
      max-height: calc(500px - 140px);
   }
   .listItem_expand {
      @include grassColor;
      @include flexCenter;
      @include mobile {
         top: 15%;
         left: 0;
         width: 450px;
      }
      &::-webkit-scrollbar{
         display: none;
      }
      flex-direction: column;
      justify-content: start;
      position: absolute;
      overflow: auto;
      top: -1px;
      left: 100%;
      width: 360px;
      height: 600px;
      opacity: 0;
      visibility: hidden;
      opacity: 1;
      border-radius: 0px 8px 8px 0px;
      transform-origin: left;
      transform: rotateY(270deg);
      transform-style: preserve-3d;
      perspective: 1000px;
      transition: all 0.8s linear;

      .listItem_expand-top {
         @include flexCenter;
         justify-content:space-between;
         border-radius: 12px 0px 0px 0px;
         padding: 4px;
         width: 92%;
         min-height: 52px;
         color: #fff;
         h1 {
            font-size: $h3-font-size;
            font-weight: 400;
            padding: 8px;
         }
         button{
            width: 67px;
            padding: 4px 2px;
            border-radius: 2px;
         }
         
      }
      .TaskInput {
         @include flexCenter;
         width: 90%;
         padding-left: 15px;
         margin-top: 8px;
         input {
            border: none;
            border-radius: 4px;
            background: rgba(0, 0, 0, 0.3);
            outline: none;
            height: 34px;
            width: 95%;
            color: #fff;
            padding-left: 8px;
            border-bottom: 2px solid #999;
         }
         input::placeholder{
            color: rgb(219, 219, 219);
         }
         button{
            padding: 4px 16px;
            border-radius: 1px;
         }
         
      }
      .miniList {
         width: 95%;

         .miniList-item {
            @include flexCenter;
            justify-content: start;
            padding-top: 8px;
            width: 90%;
            padding: 4px;
            margin: 4px 4px 4px 16px;
            box-shadow: 0px 1px rgba(153, 153, 153, 0.411);
            color: #fff;

            ion-icon {
               font-size: $h1-font-size;
               cursor: pointer;
            }
            h1 {
               font-size: 16px;
               font-weight: 500;
               padding-left: 8px;
            }
         }
      }
      .desciption{
         width: 85%;
         height: 150px;
         background: rgba(0, 0, 0, 0.2);
         color: #fff;
         resize: none;
         outline: none;
         border-radius: 8px;
         margin-top: 16px;
         font-size: $text-font-size;
         &::placeholder{
            color: #fff;
         }
      }
      .btnBLock{
         margin-top: 16px;
         @include flexCenter;
         .btnCancel,
         .btnSave{
            width: 150px;
         }
      }
   }
   .listItem_expand.active {
      transform: rotateY(360deg);
      opacity: 1;
      visibility: visible;
      left: 100%;
   }
}
.todo.openTodo {
   left: 2%;
   top: 15%;
   opacity: 1;
   visibility: visible;
   @include mobile {
      left: 50%;
      transform: translateX(-50%);
      width: 450px;
      height: 650px;
   }
}
